body,
ul,
li,
h1,
h2,
a {
    margin: 0;
    padding: 0;
    font-family: arial;
}

header {
    text-align: center;
    background-color: red;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 30px;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .welcome {
    position: absolute;
    left: 0;
    top: 30%;
    color: white;
    background-color: #FEB614;
    padding: 30px;
}

.welcome h2 {
    font-size: 74px;
}

.banner h2 span {
    font-size: 90px;
}

nav {
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 102px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: #4B4B4B;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
    color: red;
    font-size: 48px;
}

article p {
    line-height: 32px;
    color: #4B4B4B;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}

.images li {
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img {
    max-width: 100%;
}

.join {
    text-align: center;
    background-color: #F4F4F4;
    margin: 60px 20px;
    color: #4B4B4B;
}

.join h2 {
    font-size: 36px;
}

form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}

form label {
    font-size: 28px;
}

footer {
    position: relative;
    background: red;
    color: wheat;
    padding: 10px;
    text-align: center;
}